<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.jonpad.weibotopsummary.mapper.TopSummaryDataMapper">
    <select id="find" resultType="cn.com.jonpad.weibotopsummary.entities.TopSummaryData">
        SELECT t.*, o.create_date_time as create_date_time FROM `top_summary_data` t
        LEFT JOIN original_top_summary_data o ON o.id = t.original_data_id
        WHERE content like CONCAT('%',#{key},'%')
        LIMIT 100
    </select>
</mapper>
